.admin {
    padding: 20px;
    background-color: #efece6;
}

.admin h1 {
    color: darkcyan;
}

.admin .parent {
    display: flex;
}

.admin .products {
    flex: 3;
}

.admin .coupons {
    flex: 2;
}

.admin label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 6px;
}
